.search-bar {
  justify-content: flex-end;
  align-items: flex-end;
  padding: 22px;
  box-sizing: border-box;
}

.search-bar input {
  flex: center;
  padding: 10px;
  width: 35%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  